
/*menu*/
.menu ul, .menu li {
    margin: 0;
    padding: 0;
}
.menu ul {
    list-style: none;
    width: 100%;
}
.menu li {
    float: left;
    position: relative;
    width:auto;
}
.menu p {
    background: #4c596b;
    color: #FFFFFF;
    display: block;
    font: bold 20px/15px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 80px 10px ;

}
.menu li:hover p.menuitem {
    background: #5c6c82;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.menubar tr {
    background: #4c596b;
    color: #FFFFFF;
    display: block;
    font: bold 18px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menubar {
    width: 103.3%;
    z-index: 999;
    padding: 20px 0 21px;
    margin-left: -1.67%;
}

.menubar ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0
}

.menubar ul ul li
{
    float:none;
    width:200px
}

.menubar ul ul p
{
    line-height:120%;
    padding:10px 15px
}

.menubar ul li:hover > ul
{
    display:block
}

#profile {
    margin-top: -0.9em;
    width: max-content;
}

.userprofileinfo {
    margin-left: 31em;
}

.profileinfo {
    margin-left: 23.1em;
}

#googlelogin {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
/*transparent box*/
#transparent-div {
    background-color: rgba(255, 255, 255, 0.6);
    width: 97%;
    margin: 0 auto;
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height:100vh;
}

body {
    font-family: 'Economica', sans-serif;
    color: black;
    background-image: url("background.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    text-align: center;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

.center-table {
    text-align: center;
}

.datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

.datatable td, th {
    border: 2px solid #6b6b6b;
    padding: 8px;
    height: 30px;
    width: 300px;
}

.datatable tr:nth-child(even){background-color: #f2f2f2;}
.datatable tr:hover {background-color: #ddd;}

.datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6e6a6e;
    color: white;
}

.lightbox{
    visibility:hidden;
    position:fixed;
    alignment: center;
    background: #6e6a6e;
    border-radius: 15px 50px;
    border:2px solid #3c3c3c;
    color:white;
    z-index:100;
    width: 300px;
    height:200px;
    padding:20px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
}

.dimmer{
    background: #000;
    position: fixed;
    opacity: .5;
    top: 0;
    z-index:99;
}

#savebutton{
    width: 60px;
    height: 60px;
    position:absolute;
    bottom:5px;
    left:40%;
}
#slotsavebutton{
    width: 60px;
    height: 60px;
    position:absolute;
    bottom:5px;
    left:40%;
}
#savebutton:hover{
    cursor:pointer;
}
#slotsavebutton:hover{
    cursor:pointer;
}