.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 30px;
    width: 300px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.lightbox{
    visibility:hidden;
    position:absolute;
    background:green;
    border:2px solid #3c3c3c;
    color:white;
    z-index:100;
    width: 300px;
    height:200px;
    padding:20px;
}

.dimmer{
    background: #000;
    position: absolute;
    opacity: .5;
    top: 0;
    z-index:99;
}

#savebutton{
    width: 60px;
    height: 60px;
    position:absolute;
    bottom:5px;
    left:40%;
}
#savebutton:hover{
    cursor:pointer;
}